article {

  /* border:1px solid blue; */

  width: 100%;
  display: inline-block;
  vertical-align: top;
  
}
h3{
  text-align: center;
  color: rgb(38, 31, 105);
}
div a{
  color: rgb(38, 31, 105);
  text-align: center;

}